.home {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  font-family: sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  justify-items: center;
}

.coupon,
.course-create,
.course-view,
.login {
  display: block;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.2s;
  border: none;
  width: 70%;
  cursor: pointer;
  text-align: center;
  height: 140px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.coupon:hover,
.course-create:hover,
.course-view:hover,
.login:hover {
  background-color: #45a049;
}

.login {
  background-color: #6c757d;
}

.login:hover {
  background-color: #5a6268;
}