@charset "UTF-8";

body {
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    font-family: Arial, sans-serif;
}

/* 以下に適用 */
.LoginRoot {
    display: flex;
    height: 100dvh;
    width: 100dvw;
    background-color: #6cc781;
    justify-content: center; /* 左右中央 */
    align-items: center;     /* 上下中央 */
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    padding: 20px;
    gap: 20px;
    
    background-color: #ddd;
    border-radius: 30px;
    box-shadow: 10px 10px 5px burlywood,-10px -10px 5px skyblue;
    box-sizing: border-box;
}

.Login h2 {
    margin: 0;
    font-size: 64px;
    color: #333;
}

.Login input{
    width: 400px;
    height: 60px;
    
    font-size: 22px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.Login button {
    width: 200px;
    height: 50px;
    
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.Login p {
    margin: 0;
    font-size: 0.9rem;
    color: red;
}